@import url("../../theme.css");

.play-area {
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
}

.play-area .user-card,
.play-area .computer-card {
  text-align: center;
}

.play-area .user-card .user-title,
.play-area .computer-card .computer-title {
  font-size: 30px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.play-area .user-card .user-choice,
.play-area .computer-card .computer-choice {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: rgb(0, 0, 0, 0.3);
  box-shadow: inset 0px -8px 0px 0px rgba(0, 0, 0, 0.2);
}

.play-area .user-card .user-choice.selected {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.play-area .final-msg {
  transition: all 0.3s linear;
}

.play-area .final-msg .final-msg-title {
  font-size: 60px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.play-area .final-msg .final-msg-title.computer-win {
  color: red;
}

.play-area .final-msg .try-again {
  width: 100%;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 20px;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.play-area .final-msg .try-again:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.play-area .user-card .user-choice.selected.paper-choice,
.play-area .computer-card .computer-choice.selected.paper-choice {
  border: 25px solid var(--paperGradient);
  background: url(../../Assets/icon-paper.svg) #fff no-repeat;
  background-position: center;
}

.play-area .user-card .user-choice.selected.rock-choice,
.play-area .computer-card .computer-choice.selected.rock-choice {
  border: 25px solid var(--RockGradient);
  background: url(../../Assets/icon-rock.svg) #fff no-repeat;
  background-position: center;
}

.play-area .user-card .user-choice.selected.scissors-choice,
.play-area .computer-card .computer-choice.selected.scissors-choice {
  border: 25px solid var(--scissorsGradient);
  background: url(../../Assets/icon-scissors.svg) #fff no-repeat;
  background-position: center;
}

.play-area .computer-card .computer-choice.animate-options {
  animation: shuffleOptions 1s 0.5s infinite;
}

@keyframes shuffleOptions {
  0% {
    background: #fff;
    background-position: center;
  }

  25% {
    background: url(../../Assets/icon-paper.svg) #fff no-repeat;
    background-position: center;
    background-position: center;
  }

  75% {
    background: url(../../Assets/icon-rock.svg) #fff no-repeat;
    background-position: center;
  }

  100% {
    background: url(../../Assets/icon-scissors.svg) #fff no-repeat;
    background-position: center;
  }
}

.winnerShadowRing {
  box-shadow: rgba(0, 0, 0, 0.2) 0px -14px 0px 0px inset,
    rgba(44, 59, 89, 0.2) 0px 0px 0px 4rem,
    rgba(38, 53, 84, 0.3) 0px 0px 0px 8rem,
    rgba(33, 48, 79, 0.3) 0px 0px 0px 12rem;
}
