@import url("./theme.css");

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

#root {
  height: 100%;
  padding: 40px 0;
}

.game-wrapper {
  height: 100%;
}

.game-wrapper .rules-cta {
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid var(--HeaderOutline);
  background: none;
  color: #fff;
  padding: 8px 32px;
  font-size: 16px;
  border-radius: 4px;
}
