* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow:hidden;
  height: 100vh;
  background: var(--backgroundGradient) no-repeat;
  background-size: cover;
  color: #fff;
  font-family: "Barlow Semi Condensed", sans-serif;
}
